# Node modules
back-end/node_modules/
front-end/node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# Build outputs
back-end/dist/
front-end/build/
front-end/.next/
back-end/build/

# TypeScript build info
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Vercel
.vercel/
